<filepath="GJ_GameSheet.png" id="GJ_GameSheet" colfmt=5 />
<filepath="GJ_GameSheet02.png" id="GJ_GameSheet02" colfmt=5 />
<filepath="GJ_GameSheet03.png" id="GJ_GameSheet03" colfmt=5 />
<filepath="GJ_GameSheet04.png" id="GJ_GameSheet04" colfmt=5 />
<filepath="GJ_GameSheetIcons.png" id="GJ_GameSheetIcons" colfmt=5 />
<filepath="GJ_GameSheetGlow.png" id="GJ_GameSheetGlow" colfmt=5 />